/* ==========================================================================
   picky theme skin
   ========================================================================== */

/* Colors */
$base-color: #404040 !default;
$text-color: #9e9e9e !default;
$accent-color: #ff9800 !default;
$background-color: #404040 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
